/* line 1, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
html {
  width: 100%;
  min-height: 100%;
}

/* line 6, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
body {
  width: 100%;
  height: 100%;
  background-color: #1a1a1e;
  background: no-repeat;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a1a1e), to(#ffd400));
  background-image: -webkit-linear-gradient(bottom, #1a1a1e, #ffd400);
  background-image: -moz-linear-gradient(bottom, #1a1a1e, #ffd400);
  background-image: -ms-linear-gradient(bottom, #1a1a1e, #ffd400);
  background-image: -o-linear-gradient(bottom, #1a1a1e, #ffd400);
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: White;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 25, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 31, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 37, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
a {
  color: whitesmoke;
}
/* line 43, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 49, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 53, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 58, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  color: #1a1a1e;
  margin-bottom: 10px;
}

/* line 64, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 68, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 74, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  align-content: center;
}
/* line 82, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 92, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 98, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
label {
  grid-column: 1 / 2;
}

/* line 102, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
form {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 2%;
}

/* line 108, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.form-grid {
  width: 80%;
  margin-left: 20%;
}

/* line 113, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.ui-datepicker {
  background: silver;
}

/* line 117, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
ui.ui-datepicker-header {
  position: relative;
  padding: .2em 0;
  background: grey;
}

@media screen and (min-width: 800px) {
  /* line 124, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
  div.table {
    display: table;
    display: inline-block;
    width: 80%;
    margin-bottom: 2%;
    box-sizing: border-box;
    box-sizing: -moz-box-sizing(border-box);
    box-sizing: -webkit-box-sizing(border-box);
  }
}
/* line 135, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.tableHeader {
  display: table-header-group;
  background-color: #222222;
  width: 80%;
}

/* line 141, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.parts-header {
  background-color: #72595c !important;
}

/* line 145, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.dataColumn {
  display: table-cell;
  text-align: center;
  width: 9%;
  padding: 15px;
  word-wrap: break-word;
}

/* line 153, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.textColumn {
  display: table-cell;
  text-align: center;
  padding: 15px;
  word-wrap: break-word;
  width: 45% !important;
}

/* line 161, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.tableRows {
  vertical-align: middle;
}

/* line 165, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.data {
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
  width: 9%;
  padding: 5px;
}

/* line 173, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.textData {
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
  width: 45% !important;
  padding: 5px;
}

/* line 181, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.job-block {
  display: table-row-group;
}

/* line 185, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.row {
  display: table-row;
  height: 60px;
  width: 100%;
}

/* line 191, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.odd {
  background-color: #ffd400;
  color: black;
}

/* line 196, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.even {
  background-color: #777777;
  color: white;
}

/* line 201, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.odd-part {
  background-color: #daa878 !important;
}

/* line 205, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.even-part {
  background-color: #988084 !important;
}

/* line 209, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
div.parts-block {
  display: table-row;
}

/* line 213, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
#sticky {
  display: none;
  background-color: #222222;
}

@media screen and (min-width: 800px) {
  /* line 219, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
  #sticky.stick {
    margin-top: 0 !important;
    display: table-header-group;
    position: fixed;
    top: 58px;
    z-index: 10000;
    overflow: visible;
  }
}
/* line 229, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 233, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.placeholder {
  border: 1px dotted black;
  margin: 1%;
  height: 100px;
}

/* line 239, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.hidden {
  color: transparent;
  user-select: none;
  width: 9% !important;
  padding: 0 !important;
}

/* line 246, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.nav-bar {
  width: 100%;
  background-color: #1a1a1e;
  list-style-type: none;
  padding: 0;
  position: fixed;
  margin-top: 0 !important;
  top: 0;
}

/* line 256, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.nav-tab {
  display: inline;
  float: left;
  padding: 20px;
}
/* line 261, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.nav-tab:hover {
  background-color: #777777;
}

/* line 266, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.local-nav-tab {
  display: inline;
  float: right;
  padding: 20px;
}
/* line 271, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.local-nav-tab:hover {
  background-color: #777777;
}

/* line 276, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.edit-btn {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
  background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
  background-color: #77b55a;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}

/* line 303, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.delete-btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color: #f24537;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

/* line 330, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
.finish-btn {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color: #599bb3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #29668f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

/* line 357, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
input, textarea, select {
  max-width: 50%;
}

/* line 361, C:/Users/Administrator/RubymineProjects/JobSchedule/app/assets/stylesheets/scaffolds.scss */
label {
  text-align: right;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

