<% content_for :local_menu do %>
    <li class="local-nav-tab">Universal Parts</li>
    <li class="local-nav-tab">Job Report</li>
    <li class="local-nav-tab"><%= link_to 'New Job', new_job_path %></li>
<% end %>

<p id="notice"><%= notice %></p>
  <h2>Current Open Jobs</h2>

  <div class="jobTable">
    <div id="sticky-anchor">
      <div id="sticky" class="tableHeader">
        <div class="dataColumn">Job Number</div>
        <div class="dataColumn">P.O. Date</div>
        <div class="dataColumn">Customer</div>
        <div class="dataColumn">Description</div>
        <div class="dataColumn">Need BOM</div>
        <div class="dataColumn">BOM done?</div>
        <div class="dataColumn">Status</div>
        <div class="dataColumn">Progress</div>
        <div class="dataColumn">Priority</div>
        <div class="dataColumn hidden">show</div>
        <div class="dataColumn">edit</div>
        <div class="dataColumn">destroy</div>
      </div>
    </div>

    <div class="tableHeader">
      <div class="dataColumn">Job Number</div>
      <div class="dataColumn">P.O. Date</div>
      <div class="dataColumn">Customer</div>
      <div class="dataColumn">Description</div>
      <div class="dataColumn">Need BOM</div>
      <div class="dataColumn">BOM done?</div>
      <div class="dataColumn">Status</div>
      <div class="dataColumn">Progress</div>
      <div class="dataColumn">Priority</div>
      <div class="dataColumn hidden">show</div>
      <div class="dataColumn">edit</div>
      <div class="dataColumn">destroy</div>
    </div>

    <div id="sortable" class="tableRows">
      <%= render 'index', locals: {jobs: @jobs} %>
    </div>
  </div>
  <br />