<h1>Please select a report:</h1>
<ul>
  <li><%= link_to 'Active jobs', jobs_path(finished: false) %></li>
  <li><%= link_to 'Finished Jobs', jobs_path(finished: true) %></li>
  <li><%= link_to 'Job Summary', jobs_path(finished: false) %></li>
  <li><%= link_to 'Bill of Materials', jobs_path(finished: false) %></li>
</ul>