html {
  width: 100%;

}

body {
  width: 100%;
  background-color: SlateGray;
  background: no-repeat;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a1a1e), to(#ffd400));
  background-image: -webkit-linear-gradient(bottom, #1a1a1e, #ffd400);
  background-image:    -moz-linear-gradient(bottom, #1a1a1e, #ffd400);
  background-image:     -ms-linear-gradient(bottom, #1a1a1e, #ffd400);
  background-image:      -o-linear-gradient(bottom, #1a1a1e, #ffd400);
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: White;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    color: #1a1a1e;
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  align-content: center;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
@media screen and (min-width: 800px) {
  div.jobTable {
    display: table;
    display: inline-block;
    width: 80%;
    margin-bottom: 2%;
    box-sizing: border-box;
    box-sizing: -moz-box-sizing(border-box);
    box-sizing: -webkit-box-sizing(border-box);
  }
}

div.tableHeader {
  display: table-header-group;
  width: 80%;
  background-color: #222222;
}

div.dataColumn {
  display: table-cell;
  text-align: center;
  width: 12%;
  padding: 9px;
  word-wrap: break-word;
}

div.tableRows {
  display: table-row-group;
  vertical-align: middle;
}

div.data {
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
  width: 12%;
}

div.jobItemsRow {

}

div.odd {
  display: table-row;
  background-color: #ffd400;
  color: black;
}

div.even{
  display: table-row;
  background-color: #777777;
  color: white;
}

#sticky {
  display: none;
  background-color: #222222;
}

@media screen and (min-width: 800px) {
  #sticky.stick {
    margin-top: 0 !important;
    display: table-header-group;
    position: fixed;
    top: 0;
    z-index: 10000;
    overflow: visible;
  }
}

::-webkit-scrollbar {
  display: none;
}